{% for item in books %}
    <h2>{{ item.title }}</h2>
    <p>discription: {{ item.description }}</p><br/>
    <p>category: {{ item.category.title }}</p>
    <p>author: {{ item.author }}</p>
    <p>publisher: {{ item.publisher }}</p>
    <p>price: {{ item.price }}</p>
    <a href="{% url 'order:add_to_cart' item.id %}" style="border:2px    #808080 solid; padding:0.3rem; margin:1rem 0; display: block; width: fit-content">buy</a>
{% endfor %} <br>
<a href="{% url 'account:dashboard' %}">back to home</a>